body 		{ background-color: #006699;
		  margin-top: 5%;
		  margin-bottom: 5%;
		  margin-left: 5%;
		  margin-right: 30%;
		}
h1		{ color: #D0D0D0;
		  font-size:28pt;
		  font-weight:bold;
		}
h2		{ color: #e0e0e0;
		}
h3		{ color: #e0e0e0;
		}
h4		{ color: #e0e0e0;
		}
h5		{ color: #e0e0e0;
		}
hr		{ color: #D0D0D0;
		}

p 		{ font-family:Verdana;
		  font-size:12pt;
		  font-style:normal;
		  color: #D0D0D0;
		  background-color: #006699;
		  margin-top: 2%;
		  margin-bottom: 2%;
		}

a:link		{ color:#20FF20; 
 		}

a:active	{ color:#FFFFFF;
 		}

a:visited	{ color:#802020;
 		}
div.top-level	{ max-width: 800px;
				  margin: auto;
		}
div.section		{ max-width: 800px;
				  padding-left: 30px;
				  padding-right: 40px;
				  padding-bottom:20px;
		}
div.button		{ float: left;
				  width: 100px;
}
input	{ background-color: #D0D0D0; 
		  color: #802020; 
		  font-weight: bolder;"
		}
		



